body, html{
    width: 100%;
    height: 100%;
    font-family: helvetica, arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: #E4E4E4;
    background-color: #424242;
    }
    
    a:not(#profile-link){
      text-decoration: none;
      color: #E4E4E4;
    }
    
    nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #272727;
    box-shadow: 0 3px #424242;
    top: 0;
    left: 0;
    padding: 20px 10px 20px 1px;
    }
    
    .nav-link {
      margin-right: 1rem;
      font-size: 1.1rem;
    }
    
    h1{
    font-size: 2.5rem;
    text-align: center;
    padding: 80px;
    animation: fadeIn 2s;
    margin-top: 3.5rem;
    opacity: 1;
    }
    
    p{
        color: #E4E4E4 ;
    }
    

    
    #projects{
      background-color: #272727;
      padding-top: 1px;
    }
    
    h2{
      text-align: center;
      max-width: 370px;
      margin: 5rem auto 6rem auto;
      font-size: 1.6rem;
    }
    
    img{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 4px;
      }
    
    
    .project-grid {
      display: grid;
       width: 100%;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
      margin-bottom: 6.6rem;
      margin-left: 4rem;
      
    }

    
    
    
    
    @media (min-width: 100px) {
       .project-section img {
        width: 70%;
        
      }
    }
    
    footer{
      text-align: center;
      padding: 25px;
      font-size: 1.1rem;
    }
    
    @keyframes fadeIn {
      from {
          opacity: 0;
      }}